<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule demos/(.*).phps index.php?file=$1.php [L]

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>